In [54]:
import item_simirarity as ism
import user_simirarity as usm
from import_data import database

In [55]:
import pandas as pd
from collections import defaultdict

In [ ]:
db = database('localhost', 'root', 'jong1003', 'clothes_recommand')

IndentationError: expected an indented block (2180299316.py, line 21)

In [56]:
user = 67

In [57]:
db = database('localhost', 'root', 'jong1003', 'clothes_recommand')

In [58]:
clothes_columns = ['clothesId', 'fit', 'spring', 'summer', 'autumn', 'winter', 'subCategory', 'mainCategory']
prefrence_columns = ['uid', 'codiId']
codi_clothes_columns = ['codiId', 'clothesId']

In [59]:
clothes_data = pd.DataFrame(db.select_columns('musinsacloset', clothes_columns), columns=clothes_columns)
preference_data = pd.DataFrame(db.select_columns('preference', prefrence_columns), columns=['userId', 'codiId'])
codi_clothes_data = pd.DataFrame(db.select_columns('codi_clothes', codi_clothes_columns), columns=codi_clothes_columns)

In [60]:
recommand_codies = usm.find_nearest_users(preference_data, user)

In [61]:
clothes_data = clothes_data.set_index('clothesId', drop=False)
codi_clothes_data = codi_clothes_data.set_index('codiId', drop=False)

In [62]:
from collections import defaultdict
codi_clotes_dict = defaultdict(list)
for i in range(len(codi_clothes_data)):
    data = codi_clothes_data.iloc[i].values
    codi_clotes_dict[data[0]].append(data[1])

In [63]:
for codi in codi_clotes_dict.keys():
    category = clothes_data.loc[codi_clotes_dict[codi][0]]['mainCategory']
    if  category == '스커트' or category == '바지':
        codi_clotes_dict[codi][0], codi_clotes_dict[codi][1] = codi_clotes_dict[codi][1], codi_clotes_dict[codi][0]

In [67]:
clothes_dict = defaultdict(int)
item = 580958
category = clothes_data.loc[item]['mainCategory']
candidates = [item]
if category == '스커트' or category == '바지':
    category_idx, recommand_idx = 1, 0
else:
    category_idx, recommand_idx = 0, 1
for item in codi_clotes_dict.values():
    clothes_dict[item[category_idx]] = item[recommand_idx]
    candidates.append(item[category_idx])

candidates_data = clothes_data.loc[candidates]

In [68]:
recommandations = ism.genre_recommendations(580958, candidates_data, clothes_columns)
recommandations = [clothes_dict[item] for item in recommandations]

In [69]:
codies = pd.DataFrame(columns=['codiId', 'clothesId'])
for codi in recommand_codies:
    try:
        codies = pd.concat([codies, codi_clothes_data.set_index('codiId', inplace=true).loc[codi]])
    except:
        continue

[1661633, 2126186, 2247224, 2126180, 2260240]

In [103]:
import item_simirarity as ism
import user_simirarity as usm
from import_data import database
import pandas as pd
from collections import defaultdict

def recommandation(user, db, clothes):
    clothes_columns = ['clothesId', 'fit', 'spring', 'summer', 'autumn', 'winter', 'subCategory', 'mainCategory']
    prefrence_columns = ['uid', 'codiId']
    codi_clothes_columns = ['codiId', 'clothesId']
    
    clothes_data = pd.DataFrame(db.select_columns('musinsacloset', clothes_columns), columns=clothes_columns)
    preference_data = pd.DataFrame(db.select_columns('preference', prefrence_columns), columns=['userId', 'codiId'])
    codi_clothes_data = pd.DataFrame(db.select_columns('codi_clothes', codi_clothes_columns), columns=codi_clothes_columns)
    
    
    recommand_codies = usm.find_nearest_users(preference_data, user)
    clothes_data = clothes_data.set_index('clothesId', drop=False)
    codi_clothes_data = codi_clothes_data.set_index('codiId', drop=False)
    recommand_codi_clothes_data = pd.DataFrame(columns = codi_clothes_data.columns)
    for codi in recommand_codies:
        try:
            recommand_codi_clothes_data = pd.concat([recommand_codi_clothes_data, codi_clothes_data.loc[codi]])
        except:
            continue
    codi_clotes_dict = defaultdict(list)
    
    for i in range(len(codi_clothes_data)):
        data = codi_clothes_data.iloc[i].values
        codi_clotes_dict[data[0]].append(data[1])
    
    for codi in codi_clotes_dict.keys():
        category = clothes_data.loc[codi_clotes_dict[codi][0]]['mainCategory']
        if  category == '스커트' or category == '바지':
            codi_clotes_dict[codi][0], codi_clotes_dict[codi][1] = codi_clotes_dict[codi][1], codi_clotes_dict[codi][0]
    
    clothes_dict = defaultdict(int)
#     #item = 580958
    category = clothes_data.loc[clothes]['mainCategory']
    candidates = [clothes]
    if category == '스커트' or category == '바지':
        category_idx, recommand_idx = 1, 0
    else:
        category_idx, recommand_idx = 0, 1
    for item in codi_clotes_dict.values():
        clothes_dict[item[category_idx]] = item[recommand_idx]
        candidates.append(item[category_idx])

    candidates_data = clothes_data.loc[candidates]
    
    recommandations = ism.genre_recommendations(clothes, candidates_data, clothes_columns)
    recommandations = [clothes_dict[item] for item in recommandations]

    return recommandations

In [80]:
db = database('localhost', 'root', 'jong1003', 'clothes_recommand')

In [77]:
preference_data

     userId  codiId
0        71   26947
1        71   26938
2        71   26937
3        71   26936
4        71   26931
..      ...     ...
981      73   15011
982      74   15011
983      79   15011
984      81   15011
985      82   15011

[986 rows x 2 columns]

In [104]:
a = recommandation(71, db, 580958)

In [89]:
b=[19468, 25614, 23569, 20503, 24088, 22561, 25123, 25126, 18984, 24621, 21567, 24643, 21573, 26694, 26699, 22610, 23634, 19540, 23637, 20567, 18528, 18529, 23145, 20083, 20086, 23159, 18551, 26747, 18561, 20609, 18566, 18568, 18570, 18571, 21140, 25238, 22167, 21143, 25239, 15011, 16037, 15013, 15015, 25254, 15557, 24774, 24775, 24776, 15560, 23754, 26313, 24780, 26315, 24782, 15564, 24784, 24785, 25811, 18131, 18133, 18135, 24299, 18160, 25332, 26869, 25337, 19707, 19708, 26875, 19709, 25344, 23811, 19715, 19717, 19724, 20749, 19726, 20752, 20756, 17177, 26909, 25888, 26931, 23861, 25910, 26936, 26937, 26938, 25400, 18238, 26947, 25421, 17751, 17758, 23906, 19827, 23419, 24445, 23423, 19332, 23942, 23943, 23949, 23950, 24487, 22439, 22443, 24493, 24496, 22960, 24499, 23477, 19388, 19393, 19396, 19398, 19400, 23497, 19401, 25035, 19404, 25037, 19406, 18897, 18898, 24531, 18899, 18900, 18902, 18903, 18904, 24535, 18906, 18907, 18908, 18909, 18910, 18911, 23520, 26075, 24543, 24547, 24550, 25588, 25590]

In [95]:
d = pd.DataFrame(columns = a.columns, index=a.index)

In [105]:
a

[1661633, 2126186, 2247224, 2126180, 2260240]